# R and RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rproj
.Rapp.history

# macOS and Windows system files
.DS_Store
Thumbs.db

# Data files
data/*.csv
!data/heart-attack-risk-prediction-dataset.csv
data/*.xlsx
data/*.rds
data/*.json
!data/.gitkeep  # empty folder placeholder

# Output artifacts
outputs/*
!outputs/.gitkeep  # empty folder placeholder
